@using Motorsports.Scaffolding.Core.Services

@model Motorsports.Scaffolding.Core.Models.DisplayModels.HomeDisplayModel

@inject IImageService _imageService

@{
  ViewData["Title"] = "Home";
}

<div id="menu">
  <blockquote class="homeHeader">
    <h4>Next up</h4>
  </blockquote>
  @if (Model.HasVeryNextUp) {
    @Html.Partial("NextUp", Model.VeryNextUp)
  }
  @if (Model.HasNextUpPerSport) {
    foreach (var nextUp in Model.NextUpPerSport) {
      @Html.Partial("NextUp", nextUp)
    }
  }
  else {
    if (!Model.HasVeryNextUp) {
      <div class="disabledLink">[No rounds next up]</div>
    }
  }
  @if (Model.HasLatestSeasons) {
    <blockquote class="homeHeader">
      <h4>Latest seasons</h4>
    </blockquote>
    <table class="table">
      <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.LatestSeasons.First().Sport)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.LatestSeasons.First().Label)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.LatestSeasons.First().StartDate)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.LatestSeasons.First().EndDate)
        </th>
      </tr>
      </thead>
      <tbody>
      @foreach (var season in Model.LatestSeasons) {
        <tr>
          <td>
            <a asp-action="Index" asp-controller="Rounds" asp-route-id="@season.Id">
              <div>
                <div class="latestSeasonLogo">
                  <img class="sportlogo" src="@_imageService.GetSportLogo(season.Sport)" alt="@season.Sport"/>
                </div>
                <div class="latestSeasonName">
                  @Html.DisplayFor(modelItem => season.RelatedSport.Name)
                </div>
              </div>
            </a>
          </td>
          <td>
            @Html.DisplayFor(modelItem => season.Label)
          </td>
          <td>
            @Html.DisplayFor(modelItem => season.StartDate)
          </td>
          <td>
            @Html.DisplayFor(modelItem => season.EndDate)
          </td>
        </tr>
      }
      </tbody>
    </table>
  }
  <blockquote class="homeHeader">
    <h4>Master data</h4>
  </blockquote>
  <table class="table">
    <tbody>
    <tr>
      <td>
        <a asp-controller="Sports" asp-action="Index">Sports</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-controller="Venues" asp-action="Index">Venues</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-controller="Teams" asp-action="Index">Teams</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-controller="Participants" asp-action="Index">Participants</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-controller="Seasons" asp-action="Index">Seasons</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>