@using Motorsports.Scaffolding.Core.Services

@model Motorsports.Scaffolding.Core.Models.DisplayModels.NextUpDisplayModel

@inject IImageService _imageService

<div class="@(Model.IsVeryNextUp
                ? "veryNextUp"
                : string.Empty) nextUp">
  <div class="nextUpTitle">
    <div class="nextUpSport">
      <img class="sportlogo" src="@_imageService.GetSportLogo(Model.Sport)" alt="@Model.Sport"/>
      <div>@Model.Sport</div>
    </div>
    <div class="nextUpTagLine">
      @if (Model.IsInPast) {
        <a asp-controller="Rounds" asp-action="Edit" asp-route-id="@Model.Id">Round @(Model.Number)</a>
      }
      else {
        <div class="disabled">Round @(Model.Number)</div>
      }
    </div>
  </div>
  <div class="nextUpDetail">
    <div class="nextUpDetailItem">
      @if (Model.IsInPast) {
        <a asp-controller="Rounds" asp-action="Edit" asp-route-id="@Model.Id">
          @if (!string.IsNullOrEmpty(Model.Name)) {
            <span>Edit details of the @Model.Name</span>
          }
          else {
            <span>Edit details of this round</span>
          }
        </a>
      }
      else {
        <div class="disabled">
          @if (!string.IsNullOrEmpty(Model.Name)) {
            <span>@Model.Name</span>
          }
          else {
            <span>Edit details of this round</span>
          }
          <span>(@Model.DaysInFuture day(s) to go)</span>
        </div>
      }
    </div>
    <div class="nextUpDetailItem">@Model.Date.ToString("ddd d MMM yyyy")</div>
    <div class="nextUpDetailItem">@Model.Venue</div>
    <div class="nextUpDetailItem subTitle">Event history</div>
    <table class="nextUpDetailItem">
      <tbody>
      @if (!Model.EventHistory.Any()) {
        <tr class="nextUpEventHistoryItem">
          <td colspan="2">-</td>
        </tr>
      }
      else {
        foreach (var eventHistoryItem in Model.EventHistory) {
          <tr class="eventHistoryItemContainer">
            <td>
              @Html.DisplayFor(model => eventHistoryItem, nameof(eventHistoryItem))
            </td>
            <td>
              <a class="nextUpEventHistoryItemLink" asp-action="Details" asp-controller="Rounds" asp-route-id="@eventHistoryItem.Id">Details</a>
            </td>
          </tr>
        }
      }
      </tbody>
      </table>
  </div>
</div>