@using Motorsports.Scaffolding.Core.Services

@model Motorsports.Scaffolding.Core.Models.DisplayModels.NextUpDisplayModel
  
@inject IPhysicalPathResolver _physicalPathResolver

<div class="@(Model.IsVeryNextUp
                ? "veryNextUp"
                : string.Empty) nextUp">
  <div class="nextUpTitle">
    <div class="nextUpSport">
      @if (System.IO.File.Exists(_physicalPathResolver.Resolve(Model.Logo))) {
        <img class="sportlogo" src="@Url.Content(Model.Logo)" alt="@Model.Sport"/>
      }
      else {
        <img class="sportlogo" src="~/img/notfound.png" alt="@Model.Sport"/>
        <div>@Model.Sport</div>
      }
    </div>
    <div class="nextUpTagLine">
      @if (Model.IsInPast) {
        <a asp-controller="Rounds" asp-action="Edit" asp-route-id="@Model.Id">Round @(Model.Number)</a>
      }
      else {
        <div class="disabledLink">Round @(Model.Number)</div>
      }
    </div>
  </div>
  <div class="nextUpDetail">
    <div class="nextUpDetailItem">
      @if (Model.IsInPast) {
        <a asp-controller="Rounds" asp-action="Edit" asp-route-id="@Model.Id">
          @if (!string.IsNullOrEmpty(Model.Name)) {
            <span>Edit details of the @Model.Name</span>
          }
          else {
            <span>Edit details of this round</span>
          }
        </a>
      }
      else {
        <div class="disabledLink">
          @if (!string.IsNullOrEmpty(Model.Name)) {
            <span>@Model.Name</span>
          }
          else {
            <span>Edit details of this round</span>
          }
          <span>(@Model.DaysInFuture day(s) to go)</span>
        </div>
      }
    </div>
    <div class="nextUpDetailItem">@Model.Date.ToString("ddd d MMM yyyy")</div>
    <div class="nextUpDetailItem">@Model.Venue</div>
    <div class="nextUpDetailItem">&nbsp;</div>
    @if (Model.EventHistory.Any()) {
      <div class="nextUpDetailItem">Event history</div>
      foreach (var eventHistoryItem in Model.EventHistory) {
        <div class="nextUpDetailItem nextUpEventHistoryItem">@Html.DisplayFor(model => eventHistoryItem.Date) - @Html.DisplayFor(model => eventHistoryItem.WinningParticipants) - @Html.DisplayFor(model => eventHistoryItem.WinningTeam) - @Html.DisplayFor(model => eventHistoryItem.Rain) - @Html.DisplayFor(model => eventHistoryItem.Rating)/10</div>
      }
    }
  </div>
</div>