@model Motorsports.Scaffolding.Core.Models.DisplayModels.NextUpDisplayModel

<div class="veryNextUp">
  <div class="veryNextUpTitle">
    @Model.Sport
    <div class="veryNextUpTagLine"><a asp-controller="Rounds" asp-action="Edit" asp-route-id="@Model.Id">Round @(Model.Number)</a></div>
  </div>
  <div class="nextUpDetail">
    <div class="nextUpDetailItem">
      @if (!string.IsNullOrEmpty(Model.Name)) {
        <span>@Model.Name</span>
      }
    </div>
    <div class="nextUpDetailItem">@Model.Date.ToString("ddd d MMM yyyy")</div>
    <div class="nextUpDetailItem">@Model.Venue</div>
  </div>
  <div class="veryNextUpLink">
    <a asp-controller="Rounds" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
  </div>
</div>