@using System.Collections

@model string

@{
  var allCountries = ((IEnumerable)ViewData["Countries"]).OfType<Country>().ToList();
  var selectedCountry = (string)ViewData["SelectedCountry"];
  var targetProperty = ViewData["TargetProperty"] ?? "Country";
  var autofocus = bool.Parse(ViewData["Autofocus"]?.ToString() ?? "false");
}

<select name="@targetProperty" id="slcCountries" class="form-control" @(autofocus ? "autofocus=\"autofocus\"" : string.Empty)>
  @foreach (var country in allCountries) {
    <option value="@country.Iso">@country.NiceName (@country.Iso)</option>
  }
</select>

<script>
  $(document).ready(function() {
    var $countries = $("#slcCountries");
    $countries.select2({
      placeholder: "Select a country"
    });
    $countries.val("@selectedCountry");
    $countries.trigger("change"); // Notify any JS components that the value changed
  });
</script>
