@using Motorsports.Scaffolding.Core.Services

@model Sport

@inject IImageService _imageService

@{
  ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
  <blockquote>
    <div class="sportlogoContainer">
      <img class="sportlogo" src="@_imageService.GetSportLogo(Model.Name)" alt="@Model.Name" />
    </div>
    <h4 class="sportlogoName">Sport</h4>
  </blockquote>
  <hr/>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.FullName)
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Name">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>