@model Motorsports.Scaffolding.Core.Models.DisplayModels.SeasonDisplayModel

@{
  ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
  <h4>Season</h4>
  <hr/>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Sport)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.RelatedSport.FullName)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Label)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Label)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.StartDate)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.StartDate)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.EndDate)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.EndDate)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.WinningTeam)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.WinningTeam)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.WinningParticipants)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.WinningParticipants)
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>