@model SeasonEntry

@{
  ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
  <h4>SeasonEntry</h4>
  <hr/>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.RelatedSeason)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.RelatedSeason.Sport)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.RelatedTeam)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.RelatedTeam.Country)
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Team">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>