@using Motorsports.Scaffolding.Core.Services

@model Motorsports.Scaffolding.Core.Models.DisplayModels.RoundDisplayModel

@inject IImageService _imageService

@{
  ViewData["Title"] = "Delete round";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
  <blockquote>
    <div class="sportlogoContainer">
      <img class="sportlogo" src="@_imageService.GetSportLogo(Model.RelatedSeason.Sport)" alt="@Model.RelatedSeason.Sport" />
    </div>
    <h4 class="sportlogoName">Round</h4>
  </blockquote>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Season)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.RelatedSeason)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.NumberDescription)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.NumberDescription)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Date)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Date)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.RelatedVenue)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.RelatedVenue.Name)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Status)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Rating)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Rating)/10
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Rain)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Rain)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.WinningTeamId)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.WinningTeam, nameof(Model.WinningTeam))
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.WinningParticipantIds)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.WinningParticipants, nameof(Model.WinningParticipants))
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Note)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Note)
    </dd>
  </dl>
  <form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-default" /> |
    <a asp-action="Index" asp-route-id="@Model.Season">Back to List</a>
  </form>
</div>