@model Motorsports.Scaffolding.Core.Models.Round

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Round</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelatedSeason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelatedSeason.Sport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelatedVenue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelatedVenue.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
