@model IEnumerable<Motorsports.Scaffolding.Core.Models.DisplayModels.RoundDisplayModel>

@{
  ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Season)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.WinningParticipantIds)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.WinningTeamId)
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.RelatedSeason)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DataModel, nameof(Round))
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.WinningParticipants, nameof(item.WinningParticipants))
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.WinningTeam, nameof(item.WinningTeam))
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
      </td>
    </tr>
  }
  </tbody>
</table>