@using Motorsports.Scaffolding.Core.Services

@model Motorsports.Scaffolding.Core.Models.DisplayModels.RoundsIndexDisplayModel
  
@inject IImageService _imageService

@{
  ViewData["Title"] = "Rounds";
}

<h2>Index</h2>

<p>
  <a asp-action="Create" asp-route-id="@Url.ActionContext.RouteData.Values["id"]">Create New</a>
</p>

<blockquote>
  <div class="sportlogoContainer">
    <img class="sportlogo" src="@_imageService.GetSportLogo(Model.Season.Sport)" alt="@Model.Season.Sport"/>
  </div>
  <h4 class="sportlogoName">@Html.DisplayFor(model => model.Season)</h4>
</blockquote>

@if (Model.Rounds.Any()) {
  <table class="table">
    <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Number)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Date)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Venue)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Status)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().WinningParticipantIds)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().WinningTeamId)
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Rounds) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.WinningParticipants, nameof(item.WinningParticipants))
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.WinningTeam, nameof(item.WinningTeam))
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
      </tr>
    }
    </tbody>
  </table>

  <script>
    $(document).ready(function() {
      $('html, body').animate({scrollTop:$(document).height()}, 'slow');
      return false;
    });
  </script>
}