@using Motorsports.Scaffolding.Core.Services

@model Motorsports.Scaffolding.Core.Models.DisplayModels.RoundsIndexDisplayModel

@inject IImageService _imageService

@{
  ViewData["Title"] = "Rounds";
}

<h2>Index</h2>

<p>
  <a asp-action="Create" asp-route-id="@Url.ActionContext.RouteData.Values["id"]">Create New</a>
</p>

<blockquote>
  <div class="sportlogoContainer">
    <img class="sportlogo" src="@_imageService.GetSportLogo(Model.Season.Sport)" alt="@Model.Season.Sport"/>
  </div>
  <h4 class="viewName">Rounds for @Html.DisplayFor(model => model.Season)</h4>
</blockquote>

@if (Model.Rounds.Any()) {
  <table class="table">
    <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Number)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Date)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Venue)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Status)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().Rating)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().WinningParticipantIds)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Rounds.First().WinningTeamId)
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var round in Model.Rounds) {
      <tr class="@(round.Number < 1 ? "disabledRow" : string.Empty)">
        <td>
          @Html.DisplayFor(modelItem => round.NumberDescription)
        </td>
        <td>
          @Html.DisplayFor(modelItem => round.Date)
        </td>
        <td>
          @Html.DisplayFor(modelItem => round.Venue)
        </td>
        <td>
          @Html.DisplayFor(modelItem => round.Status)
        </td>
        <td>
          @Html.DisplayFor(modelItem => round.Rating)/10
        </td>
        <td>
          @Html.DisplayFor(modelItem => round.WinningParticipants, nameof(round.WinningParticipants))
        </td>
        <td>
          @Html.DisplayFor(modelItem => round.WinningTeam, nameof(round.WinningTeam))
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@round.Id">Edit</a> |
          <a asp-action="Details" asp-route-id="@round.Id">Details</a> |
          <a asp-action="Delete" asp-route-id="@round.Id">Delete</a>
        </td>
      </tr>
    }
    </tbody>
  </table>

  <script>
    $(document).ready(function() {
      $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
      return false;
    });
  </script>
}