@model Season

@if (!string.IsNullOrWhiteSpace(Model.Label)) {
  <span>@Model.Label (@Model.Sport)</span>
}
else {
  var firstRound = Model.RelatedRounds?.OrderBy(r => r.Date)?.FirstOrDefault()?.Date;
  var lastRound = Model.RelatedRounds?.OrderByDescending(r => r.Date)?.FirstOrDefault()?.Date;
  var firstYear = firstRound?.Year;
  var lastYear = lastRound?.Year;
  if (firstYear.HasValue && lastYear.HasValue) {
    if (firstYear.Value == lastYear.Value) {
      <span>@Model.Sport (@firstYear.Value)</span>
    }
    else {
      <span>@Model.Sport (@firstYear.Value-@lastYear.Value)</span>
    }
  }
  else {
    <span>@Model.Sport (no rounds defined)</span>
  }
}