@model Participant

@{
  ViewData["Title"] = "Details of a participant";
}

<h2>Details</h2>

<div>
  <blockquote><h4>Participant</h4></blockquote>
  <hr/>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Title)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Country)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.RelatedCountry.NiceName)
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>