@using Motorsports.Scaffolding.Core.Services

@model Team

@inject IImageService _imageService

@{
  ViewData["Title"] = "Details of a team";
}

<h2>Details</h2>

<div>
  <blockquote>
    <div class="sportlogoContainer">
      <img class="sportlogo" src="@_imageService.GetSportLogo(Model.Sport)" alt="@Model.Sport" />
    </div>
    <h4 class="viewName">Team</h4>
  </blockquote>
  <hr/>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Country)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.RelatedCountry.NiceName)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Sport)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.RelatedSport.FullName)
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>