@using Motorsports.Scaffolding.Core.Services
@model Motorsports.Scaffolding.Core.Models.DisplayModels.TeamsIndexDisplayModel

@inject IImageService _imageService

@{
  ViewData["Title"] = "Teams";
}

<h2>Index</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
@foreach (var teamsForSport in Model.TeamsPerSport) {
  <blockquote>
    <div class="sportlogoContainer">
      <img class="sportlogo" src="@_imageService.GetSportLogo(teamsForSport.Key.Name)" alt="@teamsForSport.Key.Name"/>
    </div>
    <h4 class="viewName">@teamsForSport.Key.FullName</h4>
  </blockquote>
  <table class="table">
    <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => teamsForSport.Value.First().Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => teamsForSport.Value.First().Country)
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var team in teamsForSport.Value) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => team.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => team.RelatedCountry.NiceName)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@team.Id">Edit</a> |
          <a asp-action="Details" asp-route-id="@team.Id">Details</a>
        </td>
      </tr>
    }
    </tbody>
  </table>
}